<div style=" height: 100%; top:0px;">

<ul class="nav">

<li  style="list-style:none" routerLink="/lagos"><img src="../assets/images/nav-elements/lagos.png"></li>
<li  style="list-style:none" routerLink="/trends"><img src="../assets/images/nav-elements/trends.png"></li>
<li  style="list-style:none" routerLink="/map"><img src="../assets/images/nav-elements/map-menu.png"></li>
<li   style="list-style:none" routerLink="/news"><img src="../assets/images/nav-elements/news.png"></li>
<li  style="list-style:none" routerLink="/"><img src="../assets/images/nav-elements/Chat.jpg"></li>
<li  style="list-style:none" routerLink="/"><img src="../assets/images/nav-elements/Seedoo.png"></li>
<li  style="list-style:none" routerLink="/"><img src="../assets/images/nav-elements/services.png"></li>
<li  style="list-style:none" routerLink="/"><img src="../assets/images/nav-elements/new_events.png"></li>
</ul>
</div>